{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="card p-2">
    <h1>
      Dish List
      <a style="float:right" href="{% url 'service:cook-create' %}" class="btn btn-primary">+</a>
    </h1>

    <form class="form-inline" action="" method="get">
      {{ search_form|crispy }}
      <input type="submit" value="Search" class="btn btn-secondary">
    </form>

    <br>

    {% if dish_list %}
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Dish type</th>
        </tr>
        {% for dish in dish_list %}
          <tr>
            <td>
              <a href="{{ dish.get_absolute_url }}">{{ dish.id }}</a>
            </td>
            <td>
              {{ dish.name }}
            </td>
            <td>
              {{ dish.price }}
            </td>
            <td>
              {{ dish.dish_type.name }}
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>There are no dishes in kitchen.</p>
    {% endif %}
  </div>
{% endblock %}